body {
    background-color: #f5f7f9;
}

li.counter {
    padding: 15px 10px 15px 10px;
    background-color: white;
    color: #555;
}

ul.results {
    list-style-type: none;
    padding: 0;
}

ul.results li {
    border-bottom: 1px solid #ddd;
    padding: 8px 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.results li:last-child {
    border-bottom: 0px;
}

p.message {
    padding-top: 10px;
}

p.error {
    color: red;
}
